body {
    position: absolute;
    border: 0px;
    margin: 0px;
    padding: 0px;    
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    overflow: hidden;
    font-family: Georgia, serif;
}


.navbar{
    margin-bottom: 0px;
}

.main-container{
    position: absolute;
    border: 0px;
    margin: 0px;
    padding: 0px;    
    top: 52px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    overflow: hidden;
}